<header>
  <h1><a data-nav href="index.html">Veganes Jahreszeiten-Kochbuch</a></h1>
  <nav>
    <ul>
      <li><a data-nav data-season="fruehling" href="season-pages/fruehling/index.html">Frühling</a></li>
      <li><a data-nav data-season="sommer"    href="season-pages/sommer/index.html">Sommer</a></li>
      <li><a data-nav data-season="herbst"    href="season-pages/herbst/index.html">Herbst</a></li>
      <li><a data-nav data-season="winter"    href="season-pages/winter/index.html">Winter</a></li>
    </ul>
  </nav>
</header>
